// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

 @import "foundation/foundation-global";
 @import "foundation/components/global";
 @import "foundation/components/grid";
 @import "foundation/components/visibility";
 @import "foundation/components/block-grid";
 @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) and (max-width: emCalc(1050px)) { 
   .row .medium-1 { position: relative; width: 6.25%; }
  .row .medium-2 { position: relative; width: 12.5%; }
  .row .medium-3 { position: relative; width: 18.75%; }
  .row .medium-4 { position: relative; width: 25%; }
  .row .medium-5 { position: relative; width: 31.25%; }
  .row .medium-6 { position: relative; width: 37.5%; }
  .row .medium-7 { position: relative; width: 43.75%; }
  .row .medium-8 { position: relative; width: 50%; }
  .row .medium-9 { position: relative; width: 56.25%; }
  .row .medium-10 { position: relative; width: 62.5%; }
  .row .medium-11 { position: relative; width: 68.75%; }
  .row .medium-12 { position: relative; width: 75%; }
  .row .medium-13 { position: relative; width: 81.25%; }
  .row .medium-14 { position: relative; width: 87.5%; }
  .row .medium-15 { position: relative; width: 93.75%; }
  .row .medium-16 { position: relative; width: 100%; }}
@font-face {font-family:
    'SansationRegular';
    src:
    url('Sansation_Regular-webfont.eot');
    src:
    local('☺'), url('Sansation_Regular-webfont.woff') format('woff'), url('Sansation_Regular-webfont.ttf') format('truetype'), url('Sansation_Regular-webfont.svg#webfontEq8FCprS') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family:
    'SansationLight';
    src:
    url('Sansation_Light-webfont.eot');
    src:
    local('☺'), url('Sansation_Light-webfont.woff') format('woff'), url('Sansation_Light-webfont.ttf') format('truetype'), url('Sansation_Light-webfont.svg#webfontfPOciJs8') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family:
    'SansationBold';
    src:
    url('Sansation_Bold-webfont.eot');
    src:
    local('☺'), url('Sansation_Bold-webfont.woff') format('woff'), url('Sansation_Bold-webfont.ttf') format('truetype'), url('Sansation_Bold-webfont.svg#webfont1wKwsA5I') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin heavy-font(){
	font-family:'SansationBold', "trebuchet MS", Arial, sans-serif;
	font-weight: 900;
}

@mixin bold-font(){
	font-family:'SansationRegular', "trebuchet MS", Arial, sans-serif;
	font-weight: 300;
}


@mixin light-font(){
	font-family:'SansationLight', "trebuchet MS", Arial, sans-serif;
	font-weight: 100;
}


/*
 
 
 p.style1 {font: 18px/27px 'SansationRegular', Arial, sans-serif;}
 p.style2 {font: 18px/27px 'SansationLight', Arial, sans-serif;}
 p.style3 {font: 18px/27px 'SansationBold', Arial, sans-serif;}
 
 
 
 */


/* Primary Styles
 Author: Matt Watier
 */
.evencolumns{overflow:hidden;
	> .column{padding-bottom:500px;margin-bottom:-500px;
	}
}

h1, h2, h3, h4 , strong,p.large{
	font-family:'SansationBold', "trebuchet MS", Arial, sans-serif;
	letter-spacing:1px;
}

h5,h6,p{
	
	font-family:'SansationRegular', "trebuchet MS", Arial, sans-serif;
}
	
	p.small,blockquote{
	
	font-family:'SansationLight', "trebuchet MS", Arial, sans-serif;
	color:#222
}
h1.fontface {font:3.5em/1.25em 'SansationLight', "trebuchet MS", Arial, sans-serif;font-weight: 100;color: #666;letter-spacing: 1px;}

p{ letter-spacing: 0.07em;
    line-height: 1.75em;
    margin: 0 0 1.5em;}
p.large{color:#444}
	

header{
	&#siteheader {
	position: fixed;
	border-top: solid #333 5px;
	width: 100%;
	z-index: 3000;
	>div{overflow: hidden;}
	}
	.wrap{
	background-color:#bfbfbf;
	display:inline-block;
		border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	}
	nav {
		@include bold-font();
	    font: 1.1em / 1.1 'SansationBold', "trebuchet MS", Arial, sans-serif;
	    color: #222;
		float:left;
		height:32px;
		padding:0px 20px 3px;
		
		&.siteLinks{
		background-color: #333333;
		border-radius: 0px 0px 10px 10px;
		-moz-border-radius: 0px 0px 10px 10px;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		}
		&.socialLinks{
			background-color: #bfbfbf;
			border-radius: 0px 0px 10px 0px;
		-moz-border-radius: 0px 0px 10px 0px;
		-webkit-border-bottom-right-radius: 10px;
			
		}
		a {
		    color: #BFBFBF;
		    display: block;
		    float: left;
		    font-size: 105%;
		    height: 20px;
		    padding-top: 8px;
		    padding-left:15px;
		    text-decoration: none;
		&.logo + a {margin-left:15px;}  
		  
		}
		
	}

}	
a{
	&.icon{
		padding:0px;
		height:32px;
		width:40px;
		background: url(icon-sprites.png) no-repeat top left;
		text-indent: -2000px;
		overflow: hidden;
	
	}
	&.logo {
			padding-left: 20px;
			width: 92px;
			background: url(icon-sprites.png) transparent no-repeat top left;
	  }
	
}



a.logo{background-position: left top;}
a.facebook{background-position:-40px top;}
a.twitter{background-position:-80px top;}
a.linkedin{background-position:-120px top;}
a.contact{background-position:0px top;}
a.deviantart{background-position:-160px top;}

a:hover.logo{background-position: left bottom;}
a:hover.facebook{background-position:-40px bottom; }
a:hover.twitter{background-position:-80px bottom; }
a:hover.linkedin{background-position:-120px bottom; }
a:hover.contact{background-position:0 bottom; }
a:hover.deviantart{background-position:-160px bottom; }




/* mobile */
a.icon,a.logo,span.icon{
	display:block;
	float:left;
	padding:0px;
	margin:0px;
	width:32px;
	height:32px;
	background: url(icon-sprites.png) no-repeat top left;
	text-indent: -2000px;
	overflow: hidden;

}
a.logo{
	background-color: #333333;
	background-position:0 -64px;
	width:64px;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-bottom-radius:0px 0px  10px 10px;
	padding:0px 3px 3px;
	margin-bottom: -3px;
	}
div#siteheaderbottom a.comment{
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-bottom-radius:10px 10px 0px 0px;
    background-color: #333333;
    margin-left: 0;
    margin-top: 0;
    padding: 3px 1px 0;
    width: 64px;

	
}
a.facebook{background-position:-32px top;}
a.comment{background-position:0px bottom;}

a.twitter{background-position:-64px top;}
a.linkedin{background-position:-96px top;}
a.contact{background-position:0px top;}
a.deviantart{background-position:-128px top;}
a.skipPrev{background-position:-192px 0px;}
a.skipNext{background-position:-192px -32px;}
a.forward{background-position:-160px -32px;}
a.cancel{background-position:-160px -64px;overflow: visible; text-decoration: none;padding:7px 2px;}
div#siteheadertop.ui-header a.cancel{
	text-indent: 32px;color:white;font-weight: normal;
	
}

a:hover.logo,a:active.logo{background-position: -64px -64px;}
a:hover.comment,a:active.comment{background-position: -64px bottom;}

a:hover.facebook,a:active.facebook{background-position:-32px -32px; }
a:hover.twitter,a:active.twitter{background-position:-64px -32px; }
a:hover.linkedin,a:active.linkedin{background-position:-96px -32px; }
a:hover.contact,a:active.contact{background-position:0 -32px; }
a:hover.deviantart,a:active.deviantart{background-position:-128px -32px; }
a:hover.forward,a:active.forward{background-position:-160px -32px;}
a:hover.skipPrev,a:active.skipPrev{background-position:-224px 0px;}
a:hover.skipNext,a:active.skipNext{background-position:-224px -32px;}
a:hover.cancel,a:active.cancel{background-position:-192px -64px;}

#canvas{
    padding-top: 100px;
    }
    
    /**** Isotope filtering ****/
    
    .isotope-item {
      z-index: 2;
    }
    
    .isotope-hidden.isotope-item {
      pointer-events: none;
      z-index: 1;
    }
#filterHolder{
	float: left;
	margin-right: -250px;
	position: fixed;
	width:250px;
}
#main{
	padding-left: 250px;
	max-width: none;
	padding-right: 75px;
	}


.gallery{
h2{margin-bottom: 0;padding-left: 10px;}    
.row ul.thumbnails{
	padding: 0px;
	li.thumbnail{
		padding: 0;
		a{
			border: 1px solid $hr-border-color;
			padding:3px;
			display: inline-block;
			margin:0 auto 0;
			width: 36px;
			height: 36px;
			img{ padding: 0;margin: 0;}
		}
	}

}}
.pieScreen,.piePaper,.pieCanvas,.piePhotos{font-size: 12px;}


/*Base Design*/
@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}



@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 800px) {
	.bottomlabel,.toplabel{font-size: .7em;}
	.legend{font-size: .8em;}
 
}
@media screen and (max-width: 500px) {
.bottomlabel,.toplabel{font-size: .5em;}
.legend{font-size: .7em;}
header#siteheader{ 
	.wrap{ @include radius(0px);}
	nav a{font-size: .9em;}
	nav.siteLinks{width: 100%;@include radius(0px); }
	nav.socialLinks{width: 100%;@include radius(0px); 
		>a { margin: 0 20px 2px;}
	}
	}
	#filterHolder{
	float: none;
	width:100%;
	padding-top:50px;
	margin-right: 0;
	position: relative;
	padding-right: 55px;
}
#main{
	padding-left: 0;
	max-width: none;
	padding-right: 75px;
	}
}
@media print {
 
}
body #sthoverbuttons #sthoverbuttonsMain {
position: relative;
z-index: 1000000;
width: 50px;
padding: 0px 12px;
}
